html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #88ff33;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 960px;
  height: 640px;
  position: relative;
  border: 5px solid black;
}
canvas {
  position: absolute;
}
